#include <zephyr/dt-bindings/adc/adc.h>

/ {
	chosen {
		zephyr,display = &ssd1681;
	};

	gpio_keys {
		compatible = "gpio-keys";

		button_0: button_0 {
			label = "User button";
			gpios = <&gpioa 4 (GPIO_ACTIVE_LOW)>;
		};
	};

	leds {
		compatible = "gpio-leds";

		ldo_enable: ldo_enable {
			gpios = <&gpioe 4 GPIO_ACTIVE_HIGH>;
		};
	};
};

&clk_lse {
	status = "okay";
};

&clk_hsi48 {
	status = "okay";
};

&lptim1 {
	status = "okay";
};

zephyr_udc0: &usb {
	status = "okay";
	pinctrl-0 = <&usb_dm_pa11 &usb_dp_pa12>;
	pinctrl-names = "default";
};

&spi1 {
	pinctrl-0 = <&spi1_sck_pb3 &spi1_miso_pb4 &spi1_mosi_pb5>;
	pinctrl-names = "default";
	status = "okay";
	cs-gpios = <&gpioa 15 (GPIO_ACTIVE_LOW)>, <&gpioa 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

	ssd1681: ssd1681@0 {
		status = "okay";
		compatible = "pone,ssd1681";
		spi-max-frequency = <16000000>;
		orientation-flipped;
		read-support = <0>;
		reg = <0>;
		width = <200>;
		height = <200>;
		tssv = <0x80>;
		pp-width-bits = <8>;
		pp-height-bits = <16>;
		reset-gpios = <&gpiob 6 (GPIO_ACTIVE_LOW)>;
		busy-gpios = <&gpiob 7 (GPIO_ACTIVE_HIGH)>;
		border-waveform = <0x05>;
	};

	idex: idex@1 {
		compatible = "idex";
		spi-max-frequency = <4000000>;
		reg = <1>;
		idex-rdy-gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
		idex-stby-gpios = <&gpiob 2 GPIO_ACTIVE_LOW>;
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb8 &i2c1_sda_pb9>;

	max77734: max77734@48 {
		io-channels = <&adc1 6>;
		io-channel-names = "AMUX";
		int-gpios = <&gpiob 1 GPIO_ACTIVE_LOW>;
	};
};

&adc1 {
	pinctrl-0 = <&adc1_in6_pa1>;
	pinctrl-names = "default";
	status = "okay";

	st,adc-clock-source = <1>;
	st,adc-prescaler = <1>;

	#address-cells = <1>;
	#size-cells = <0>;

	channel@6 {
		reg = <6>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
		zephyr,oversampling = <4>;
	};
};
