CONFIG_BT_DIS_MODEL="MP2"
CONFIG_BT_DIS_HW_REV_STR="V1"
CONFIG_BT_DIS_FW_REV=y
CONFIG_BT_DIS_HW_REV=y
CONFIG_BT_DIS_SW_REV=n

CONFIG_HAS_EXTERNAL_LDO=y

# USB HID related
CONFIG_USB_DEVICE_STACK=y
CONFIG_USB_DEVICE_HID=y
CONFIG_USB_DEVICE_MANUFACTURER="PONE Biometrics"
CONFIG_USB_DEVICE_PRODUCT="OFFPAD+"
CONFIG_USB_DEVICE_VID=0x37ce
CONFIG_USB_DEVICE_PID=0x0202
CONFIG_USB_HID_BOOT_PROTOCOL=y
CONFIG_USB_DEVICE_INITIALIZE_AT_BOOT=n
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=64000000

# USB HID settings for bidirectional USB-HID communication
CONFIG_USB_DEVICE_SOF=y
CONFIG_USB_HID_REPORTS=1
CONFIG_ENABLE_HID_INT_OUT_EP=y

# Do not display serial number in USB descriptor
CONFIG_USB_DEVICE_SN=""

# USB related logging
CONFIG_USB_DRIVER_LOG_LEVEL_ERR=y
CONFIG_USB_DEVICE_LOG_LEVEL_ERR=y

#Display type
#CONFIG_SSD1681=y
